name: Django Unit Tests

on:
  pull_request:
    branches: ["main", "master"]
  push:
    branches: ["main", "master"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r NovaBack/requirements.txt
          pip install coverage

      - name: Run migrations
        working-directory: ./NovaBack
        run: |
          python manage.py migrate

      - name: Run Django tests
        working-directory: ./NovaBack
        run: |
          coverage run manage.py test
          coverage report
          coverage xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: NovaBack/coverage.xml
